body {
    background-color: green;
}

.image-1 {
    background-image: url("/images/red.png");
    background-repeat: no-repeat;
}

.image-2 {
    background-image: url("/images/yellow.png");
    background-repeat: no-repeat;
}

.container {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.card {
    height: 200px;
    width: 200px;
    background-color: rgb(192, 109, 109);
    margin: 10px;
    border-radius: 10px;
    display: grid;
    place-items: center;
}